.pricelist_container {
    padding: 72px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: var(--f-regular);

    .googlesheets_container {
        width: -webkit-fill-available;
    }

    .header_search {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        margin-top: 16px;

        .titles {
            width: 100%;
            padding: 56px 16px 16px;
            border-radius: 16px;
            backdrop-filter: blur(10px);
            box-shadow: 0 2px 10px var(--shadow);

            .title_left {
                display: flex;
                flex-direction: column;
                gap: 12px;
                text-align: center;
                align-items: center;

                h1 {
                    font-size: 24px;
                    font-family: var(--f-bold);
                }

                .font-size-controls {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 56px;
                        background: var(--bg);
                        border: 0 !important;
                    }

                    .filter-toggle {
                        width: 150px;
                        padding: 8px;
                        margin-left: 16px;
                    }


                }

                .search_input {
                    max-width: 1024px;

                    input {
                        background: var(--bg);
                        border: 0;
                        width: 100%;
                        height: 36px;
                        border-radius: 8px;
                        color: var(--text);
                        font-size: 16px;
                        padding: 16px;
                        font-family: var(--f-regular);
                    }
                }
            }
        }

        .categories {

            .category_filter {
                p {
                    font-size: 24px;

                }
            }
        }
    }

    .filter_panel {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 110px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;

        &.open {
            max-height: fit-content;
            opacity: 1;
            pointer-events: auto;
        }

        p {
            font-size: 11px;
        }

        .category_filter {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h1 {
                font-size: 24px;
                font-family: var(--f-bold);
            }

            .category_list {
                button {
                    margin: 3px;
                }
            }
        }
    }
}

button {
    padding: 8px;
    background: var(--bg);
    color: var(--text);
}