.header {
    width: 100%;
    background: var(--bg);
    height: calc(56px + env(safe-area-inset-bottom));
    backdrop-filter: blur(25px);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px var(--shadow);

    .logo {
        width: 100%;
        padding-left: 16px;
        display: flex;
        justify-content: space-between;

        img {
            padding: 5px;
        }

    }


    .theme_switcher {
        padding-right: 16px;
    
        .theme-toggle-btn {
            position: relative;
            width: 50px;
            height: 26px;
            background-color: var(--toggle-bg, #ccc);
            border-radius: 15px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s;
            }
    
            &.dark {
                background-color: var(--toggle-active-bg, #555);
    
                &:before {
                    transform: translateX(24px);
                }
            }
        }
    }
}    