.bottom-nav {
    width: 100%;
    height: calc(60px + env(safe-area-inset-bottom));
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    display: flex;
    background: var(--bg);
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px var(--shadow);

    .nav-button {
        width: 150px;
        margin: 10px;
        transition: all .1s ease;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 8px;
        padding: 5px 8px;
        border-radius: 16px;
        color: var(--text);

        &:active {
            color: var(--color-primary);
        }

        .nav_line {
            width: 0;
            height: 2px;
            background: var(--color-primary);
            border-radius: 4px;
            transition: all 250ms ease;
        }

        svg {
            width: 30px;
            height: 23px;
            min-width: 20px;
        }
    }


    .nav-button.active {
        color: var(--color-primary);

        svg {
            path {
                fill: var(--color-primary);
            }
        }

        .nav_line {
            width: 100%;
        }
    }

    .price {
        span {
            font-weight: 800;
        }
    }
}