.bottom-nav {
    width: 100%;
    height: calc(56px + env(safe-area-inset-bottom));
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -2px 10px var(--shadow);

    .nav-button {
        width: 150px;
        margin: 10px;
        transition: all .1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        &:active {
            color: var(--color-primary);
        }

        .nav_line {
            width: 0;
            height: 2px;
            background: var(--color-primary);
            border-radius: 4px;
            transition: all 250ms ease;
        }

        svg {
            width: 30px;
            height: 23px;
            min-width: 20px;
        }
    }


    .nav-button.active {
        svg {
            path {
                fill: var(--color-primary);
            }
        }

        .nav_line {
            width: 100%;
        }
    }

    .price {
        span {
            font-weight: 800;
        }
    }
}