.bottom-nav {
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    display: flex;
    background: var(--bg);
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px var(--shadow);

    .nav-button {
        width: 100%;
        transition: all .1s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 8px;
        color: var(--text);
        height: calc(48px + env(safe-area-inset-bottom));

        &:active {
            color: var(--bg);
            background: var(--color-primary);
        }

        svg {
            width: 30px;
            height: 23px;
            min-width: 20px;
            color: var(--bg);
        }
    }


    .nav-button.active {
        color: var(--bg);
        background-color: var(--color-primary);
                    font-weight: 600;

        svg {
            path {
                fill: var(--bg);
            }
        }

        .nav_line {
            width: 100%;
        }
    }
}